*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Oswald', sans-serif;
    background-color: black;
    color: antiquewhite;
}
.container{
    padding: 1rem;
}
.gallery--image{
    margin-bottom: 1rem;
}
.bed-image{
    margin-top: 1rem;
}

a{
    text-decoration: none;
    color: antiquewhite
}
.nav--link{
    font-size: 1rem;
}

.nav--link.btn{
    border-radius: 2rem;
}

img{
    max-width: 100%;
    width: 100%;
}


.nav--bar{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.gallery-section{
    margin-top: 1rem;
}
.gallery-image{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.gallery-title{
    text-align: center;
    font-size: 4rem;
    letter-spacing: 3px;
}
.gallery-text{
    text-align: center;
    letter-spacing: 3px;
}
.btn{
    border: 2px solid antiquewhite;
    background-color: papayawhip;
    color: black;
    padding: .5rem;
    cursor: pointer;
}
.about--section__image{
    background-image: url("/images/photoholgic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
}
.card-button{
    background: #211a1a;
    color: antiquewhite;
}
.card{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card-text{
    text-align: center;
}
.card-title{
    text-align: center;
}
.about--title{
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
}







@media screen and (min-width:400px) {

    .nav--link{
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: .5rem 2rem;
    }
    .section{
        display: flex;
        margin-top: 3rem;
        align-items: center;
    }
    .container{
        padding: 2rem;
        margin: 1rem;
    }
    .para-heading{
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    .para-section{
        flex: 1;
        margin: 2rem;
        color: antiquewhite;
    }

    .image-section{
        flex: 1;
    }
    .bed-image{
        width: 90%;
    }
    .image-section--one{
        flex: 1;
    }

    .para-section--one{
        margin: 2rem 0rem;
        color: antiquewhite;
        flex: 1;
    }

    .paragraph-one{
        margin-top: .5rem;
        opacity: .8;
    }
    .gallery-image{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        margin-top: 1rem;
    }
    .booking-card{
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin-top: 1rem;
        padding: 2rem;
    }
    .gallery-section{
        text-align: center;
        margin-top: 1.5rem;
    }
    .card__text{
        color: bisque;
        font-size: .9rem;
    }

    .text-part{
        color: black;
        padding: 1rem;
    }
    .about--title{
        font-size: 5rem;
        letter-spacing: 5px;
    }
    .card{
        background: antiquewhite;
        margin-right: 1rem;
        padding-bottom: 2rem;
        flex: 1;
        text-align: center;
        transition: all 0.2s;
    }
    .card-title{
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
    .card:hover {
        transform: scale(1.05);
    }
    .card-button{
        /* border-radius: 10px; */
        padding: .25rem 1.5rem;
        border-radius: 25px;
        font-size: 1rem;
        margin-top: 1rem;
    }
    .gallery--image{
        width: 364px;
        height: 275px;
        transition: all 0.3s;
    }
    .gallery--image:hover {
        transform: scale(1.02);

    }
    .about--section__image{
        background-image: url("/images/photoholgic.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 10rem;
    }
    .about--text{
        font-size: 1rem;
        text-align: center;
    }
    .footer--section__image{
        background-image: url("/images/fin\ \(2\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .footer--section__text{
        margin-right: 6rem;
    }
    .footer--contact{
        padding: 5rem;
        text-align: center;
    }
    
    
    
}